<div class="container mt-5">
  
<form action="/cliente/add" method="post">
  
  <div class="form-group">
    <label for="title">Nombre</label>
    <input type="text" name="title" id="title" class="form-control"  />
  </div>

 <div class="form-group">
    <label for="title">correo</label>
    <input type="text" name="correo" id="title"  class="form-control" />
  </div>

  <br>
  <button class="btn btn-primary">Registrar</button>
</form>
</div>

{{> tasks/clientesTable }}
