
<div class="container mt-5">
    <h3 class="text-center">Provedores</h3>

<form action="/distribuidores/add" method="post">
  
  <div class="form-group">
    <label for="title">Nombre</label>
    <input type="text"  class="form-control"  name="title" id="title" />
  </div>

  <div class="form-group">
    <label for="title">costo De Servicio</label>
    <input type="text"  class="form-control"  name="costoDeServicio" id="title" />
  </div>

  <div class="form-group">
    <label for="title">Tiempo</label>
    <input type="text"  class="form-control"  name="Tiempo" id="title" />
  </div>

  <div class="form-group">
    <label for="title">Origen</label>
    <input type="text"  class="form-control"  name="origen" id="title" />
  </div>

  <div class="form-group">
    <label for="title">Destino</label>
    <input type="text"  class="form-control"  name="destino" id="title" />
  </div>

  <br>

  <button  class="btn btn-primary" >Registrar</button>

</form>

</div>
<br>


