<form action="/edit/{{task._id}}" method="POST">
   <input type="text" name="title" id="" placeholder="Title" value="{{task.title}}"> 

   <textarea name="description" id="" cols="30" rows="3">{{task.description}}</textarea>
   <button>Update</button>
</form>